.box{
 
  margin-left: 450px;
  height: 500px;
  width: 450px;
  border: 2px solid black;
  background-color: rgb(167, 131, 131);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

 
}
.cal{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.parent{
  margin-top: 170px;
  
}
.new{
  height: 50px;
  width: 105px;
}
.search{
  width: 200px;


}
.st1{
  height: 30px;
  width: 300px;
  margin-top: 30px;
  margin-left: 60px;
}
